.popup__input {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  border: none;
  padding: 0 0 13px;
  box-sizing: border-box;
  outline: none;
}





